@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* ============================== MAIN APP ============================== */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Noto Sans", sans-serif;
  box-sizing: border-box;
}

:root {
  --irrYellow: 246 200 68;
  --irrBlue: 196 240 253;

  --white: 252 252 252;
  --black: 38 38 38;
  --blue: 66 139 193;
  --grey1: 230 230 230;
  --grey2: 179, 179, 179;
  --darkGrey: 109 109 109;

  --titleText: 16px;
  --subtitleText: 14px;
  --subsubtitleText: 12px;
}

.main-app-container {
  width: 360px;
  /* height: 100vh; */
  margin: auto;
  background-color: rgb(var(--white));
}

body {
  fill: currentColor;
  color: rgb(var(--black));
}

body,
#root,
.main-app-container {
  height: 100vh;
}

a {
  text-decoration: none;
}

button {
  height: 40px;
  border-radius: 4px;
  font-size: var(--titleText);
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.5s, border-color 0.5s, color 0.5s,
    background-image 0.5s;
}

button:disabled {
  cursor: default;
}

input {
  background-color: rgb(var(--white));
  border: 1px solid rgb(var(--black));
  border-radius: 4px;
  padding: 16px;
  height: 56px;
  width: 100%;
  font-size: var(--titleText);
  font-weight: 300;
  line-height: 24px;
  -webkit-appearance: none;
  appearance: none;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

select {
  background-color: rgb(var(--white));
  border: 1px solid rgb(var(--black));
  border-radius: 4px;
  padding: 16px;
  height: 56px;
  width: 100%;
  font-size: var(--titleText);
  font-weight: 300;
  line-height: 24px;
}

@keyframes shake {
  0% {
    transform: translate(0.5px, 0.5px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -0.5px) rotate(-1deg);
  }
  20% {
    transform: translate(-1px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(1px, 0.5px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 0.5px) rotate(-1deg);
  }
  60% {
    transform: translate(-0.5px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(0.5px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 0.5px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -0.5px) rotate(-1deg);
  }
}

.main-body-container {
  padding: 32px;
}

.button-active {
  background-color: rgb(var(--irrYellow)) !important;
  border-color: rgb(var(--irrYellow)) !important;
  color: rgb(var(--black)) !important;
}

.button-hover {
  background-image: radial-gradient(transparent, rgb(var(--irrYellow)));
  color: rgb(var(--black)) !important;
}

.hidden {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* ====================================================================== */
/* ============================ Phone Styles ============================ */
/* ====================================================================== */
@media screen and (min-width: 300px) {
  body {
    background-color: rgb(var(--white));
  }

  /* =============================== Header =============================== */

  /* I think we should have a padding of 32px 16px 8px 16px for the main-header-container  */
  .main-header-container {
    position: relative;
    height: 64px;
  }

  .Navbar {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c3ecff;
  }
  .nav-middle-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .nav-logo-image {
    height: 70%;
  }
  .nav-user-icon {
    position: absolute;
    top: 30%;
    right: 5%;
    color: black;
    width: 26.67px;
  }

  .navBar--links {
    color: rgb(var(--white));
    font-size: 16px;
    text-decoration: none;
    margin: 15px;
    position: relative;
    opacity: 0.9;
  }

  .navBar--links::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: rgb(var(--white));
    transition: all 0.5s;
  }

  .navBar--links:hover::before {
    width: 100%;
  }

  .header-container {
    padding: 32px 16px 8px 16px;
    background-color: rgb(var(--irrBlue));
  }

  .header-titleText {
    font-size: var(--titleText);
    font-weight: 700;
    line-height: 48px;

    flex: 1;
  }

  /* =============================== Home =============================== */
  .home-h1-22 {
    color: black;
    font-size: 22px;
    font-weight: 700;
    margin-top: 6%;
  }
  .home-h2-14 {
    font-size: 14px;
    font-weight: 600;
    margin-top: 5%;
  }
  .home-container {
    padding: 5%;
    margin-bottom: 120px;
  }
  .item-application-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    margin-top: 8%;
  }
  .item-application-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 100%;
    background-color: rgb(var(--irrYellow));
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(104, 104, 104, 0.3);
    padding-bottom: 8%;
    padding-top: 8%;
    margin-bottom: 3%;
    cursor: pointer;
  }
  .item-application-box:hover {
    background-color: gold;
  }
  .donate-application-icon {
    height: 42px;
  }
  .item-application-icon {
    transform: scale(0.9);
  }
  .home-bottom-section {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .activity-individual-boxes {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 3%;
    width: 30%;
    text-align: center;
  }
  .activity-icon-box {
    border: rgb(104, 104, 104, 0.1) 0.5px solid;
    box-shadow: 0px 2px 2px rgba(104, 104, 104, 0.5);
    border-radius: 5px;
    /* padding: 30% 40%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8%;
    height: 70px;
    width: 98px;
    cursor: pointer;
    transition: background-color 0.5s, border-color 0.5s, color 0.5s,
      background-image 0.5s;
  }
  .activity-icon-box:hover {
    background-color: rgb(var(--irrYellow));
  }
  .activity-icon {
    transform: scale(1.8);
  }
}
.noto-12 {
  font-size: 12px;
}
/* =============================== Navbar =============================== */
.navbar-container {
  display: flex;
  width: 360px;
  justify-content: center;
  align-items: center;
  margin-bottom: 14px;
  /* background-color: rgb(111, 111, 111); */
}
.navbar-individual-boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 70px;
}
.navbar-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.navbar-icon {
  height: 30px;
  margin-bottom: 5px;
  transition: background-color 0.5s, border-color 0.5s, color 0.5s,
    background-image 0.5s;
}
.navbar-icon:hover {
  transform: scale(1.1);
}
.navbar-icon-home {
  height: 30px;
  margin-bottom: 0px;
  transition: background-color 0.5s, border-color 0.5s, color 0.5s,
    background-image 0.5s;
}
.navbar-icon-home:hover {
  transform: scale(1.1);
}
.navbar-fonts {
  font-size: 0.8rem;
}

/* ========================= Modal (Instructions) ========================= */
.overlay {
  position: fixed;
  top: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.donate-instructions-container {
  position: relative;
  border-radius: 20px;
  height: 544px;
  width: 328px;
  background-color: #ffffff;
  border: rgb(104, 104, 104, 0.1) 0.5px solid;
  box-shadow: 0px 2px 6px rgba(104, 104, 104, 0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.instructions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.instructions-top-section {
  margin-top: 5%;
  margin-bottom: 15%;
  padding-left: 5%;
  padding-right: 5%;
}
.instructions-h1-16 {
  font-size: 16px;
  font-weight: 600;
  /* margin-bottom: 5%; */
}
.instructionsImage1-container {
  margin-bottom: 47px;
}
.instructionsButton-container-original {
  position: absolute;
  width: 100%;
  bottom: 48px;
}
.instructionsButton-container {
  position: absolute;
  bottom: 48px;
}

.backarrowIcon {
  position: absolute;
  top: 30%;
  left: 35.33px;
}

.instructions-button-next {
  background-color: #6d6d6d;
  color: white;
  padding: 8px 16px;
  font-size: var(--titleText);
  font-weight: 500;
  transition: background-color 0.5s, border-color 0.5s, color 0.5s,
    background-image 0.5s;
}
.instructions-button-next:hover {
  background-color: rgb(var(--irrYellow));
  color: black;
  padding: 8px 16px;
  font-size: var(--titleText);
  font-weight: 500;
}
.instructions-button-next-strict {
  background-color: #6d6d6d;
  color: white;
  padding: 8px 16px;
  font-size: var(--titleText);
  font-weight: 500;
  transition: background-color 0.5s, border-color 0.5s, color 0.5s,
    background-image 0.5s;
}
.instructions-button-next-strict2 {
  background-color: rgb(var(--irrYellow));
  color: black;
  padding: 8px 16px;
  font-size: var(--titleText);
  font-weight: 500;
}
.instructions-scroller {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 16px;
}
.scroller-circles {
  width: 10px;
}
.instructionsImage2-container {
  display: flex;
  flex-direction: row;
}
.instructionsImage3-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 71px;
}
.instructions2-font-box {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.instructions2-font1 {
  font-size: var(--subtitleText);
  font-weight: 600;
}
.instructions2-font2 {
  font-size: var(--subtitleText);
  font-weight: 300;
}
.instruction3-container {
  display: flex;
  flex-direction: row;
}
.instructions3-font1 {
  font-size: var(--subtitleText);
  font-weight: 300;
  text-align: left;
}
.indicator-box {
  display: flex;
}

/* ========================= Modal (How to donate) ========================= */

.main-modal-applyforitems-container {
  height: 100%;
}

.modal-howtodonate-container {
  position: relative;
  border-radius: 20px;
  height: 544px;
  width: 328px;
  background-color: #ffffff;
  border: rgb(104, 104, 104, 0.1) 0.5px solid;
  box-shadow: 0px 2px 6px rgba(104, 104, 104, 0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-modal-header {
  height: 8%;
  display: flex;
  align-items: center;
}
.close-button {
  margin-left: 16px;
  margin-top: 16px;
  cursor: pointer;
}
.close-button:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.modal-howtoapplyforitems-body-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.howtodonate-h1-16 {
  font-size: 16px;
  margin-top: 5%;
}
.steps-font {
  font-size: var(--subtitleText);
  font-weight: 600;
}
.howtodonate-p1-14 {
  font-size: var(--subtitleText);
  font-weight: 200;
  margin-top: 2.5px;
}

.steps-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.steps-individual-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.steps-icon {
  color: black;
  margin-right: 9.83px;
  height: 18.33px;
}
/* =============================== Donate (navbar) =============================== */
.Navbar-donate {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  background: #c3ecff;
}
.Navbar-donate-application {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c3ecff;
}
.donate-header-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 27.33px;
}
.donate-submission-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.return-icon {
  width: 8px;
  height: 13.34px;
  margin-right: 20.67px;
  cursor: pointer;
}
.return-icon:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
.donate-header-font {
  font-size: var(--titleText);
}
.infoicon {
  cursor: pointer;
}
.infoicon:hover {
  transform: scale(1.1);
}
/* ================================= Donate (body) ================================= */
.donate-font1 {
  font-size: var(--titleText);
  font-weight: 700;
}
.donate-category-box {
  grid-gap: 16px;
  display: grid;
  grid-template-columns: repeat(4, 70px);
  justify-content: center;
}

.donate-choice-individual-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.donate-choice-boxes {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.5s, border-color 0.5s, color 0.5s,
    background-image 0.5s;
  border-radius: 4px;
}
.donate-choice-boxes:hover {
  background-color: rgb(var(--irrYellow));
}
.donate-individual-categories-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.donate-categoryicons-box {
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.donate-category-font {
  font-size: var(--subsubtitleText);
  font-weight: 300;
  text-align: center;
}
.donate-inneedof-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.inNeed-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 14px;
  border-radius: 8px;
  /* grid-gap: 16px; */
  /* display: grid; */
  /* grid-template-columns: repeat(4, 70px); */
  justify-content: center;
}
.inNeed--header {
  display: flex;
  justify-content: space-between;
}
.inNeed-mainbox {
  position: relative;
  display: flex;
  /* justify-content: center; */
}
.inNeed-icon-boxes {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
}
.inNeed-icon-image {
  height: 30px;
}
.inNeed-individual-boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 48px;
}
.statusbox {
  position: absolute;
  font-size: var(--subsubtitleText);
  font-weight: 300;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  text-align: center;
  right: 32px;
}
.statusLow-color {
  background-color: #ff6656;
}
.statusModerate-color {
  background-color: rgb(var(--irrYellow));
}
.inNeed-item-title-font {
  font-size: var(--subtitleText);
  font-weight: 300;
  text-align: center;
}
/* ================================= Donate (location) ================================= */

.donate-location-fonts-box {
  display: flex;
  flex-direction: column;
  width: 328px;
}
.donate-location-font1 {
  font-size: var(--subsubtitleText);
  font-weight: 300;
}
.donate-location-font2 {
  font-size: var(--subtitleText);
  font-weight: 700;
}
/* .donate-location-container {
  position: relative;
} */
.map-container {
  position: relative;
  z-index: 0;
}
.location-pointers1 {
  position: absolute;
  top: 60px;
  left: 40px;
  cursor: pointer;
}
.location-pointers1:hover {
  transform: scale(1.2);
}
.location-pointers2 {
  position: absolute;
  top: 40px;
  left: 120px;
  cursor: pointer;
}
.location-pointers2:hover {
  transform: scale(1.2);
}
.location-pointers3 {
  position: absolute;
  top: 40px;
  left: 40px;
  cursor: pointer;
}
.location-pointers3:hover {
  transform: scale(1.2);
}
.location-pointers4 {
  position: absolute;
  top: 90px;
  left: 220px;
  cursor: pointer;
}
.location-pointers4:hover {
  transform: scale(1.2);
}
.location-pointers5 {
  position: absolute;
  top: 0px;
  left: 80px;
  cursor: pointer;
}
.location-pointers5:hover {
  transform: scale(1.2);
}
.location-pointers6 {
  position: absolute;
  top: 120px;
  left: 250px;
  cursor: pointer;
}
.location-pointers6:hover {
  transform: scale(1.2);
}
.donate-location-menu {
  position: relative;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  align-items: center;
  width: 328px;
  height: 56px;
  cursor: pointer;
}

.donate-location-font3 {
  font-size: var(--subtitleText);
  font-weight: 300;
  color: #6d6d6d;
}
.dropdownarrow {
  position: absolute;
  right: 25.28px;
}
.donate-location-dropmenu {
  position: absolute;
  width: 328px;
  display: flex;
  flex-direction: column;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
    0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  z-index: +1;
  cursor: pointer;
}
.donate-location-dropmenu:hover {
  background-color: #ffffff;
}
.donate-location-font4 {
  font-size: var(--subtitleText);
  font-weight: 300;
  color: black;
}
.map {
  width: 328px;
  height: 160px;
  border-radius: 8px;
}
.donate-location-font4:hover {
  font-weight: 400;
  color: rgb(201, 201, 201);
}
.volunteer-profile-box {
  display: flex;
  padding: 16px;
  border-radius: 8px;
}
.profile-image {
  height: 48px;
}
.volunteer-profile-personaldetails {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.volunteer-name-mobile-box {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 48px;
}
.volunteer-14px-600-font {
  font-size: var(--subtitleText);
  font-weight: 600;
}
.volunteer-14px-300-font {
  font-size: var(--subtitleText);
  font-weight: 300;
}
.volunteer-mobile-font {
  position: absolute;
  bottom: 0px;
  font-size: var(--subsubtitleText);
  font-weight: 300px;
}
.volunteer-location-font {
  font-size: var(--subsubtitleText);
  font-weight: 300px;
}
.volunteer-location-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0px;
  bottom: 0px;
  text-align: right;
}
.dropoff-button-box {
  display: flex;
  justify-content: center;
}
.dropoff-scroller-box {
  display: flex;
  justify-content: center;
}
/* ================================= Donate (Item Cateogry) ================================= */
/* .donate-items-category-container {
} */
.donate-item-category-box {
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(3, 98px);
}
.donate-item-category-individual-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.donate-item-category-icon-box {
  height: 70px;
  width: 98px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s, border-color 0.5s, color 0.5s,
    background-image 0.5s;
  cursor: pointer;
}
.donate-item-category-icon-box2 {
  height: 70px;
  width: 98px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: rgb(var(--irrYellow));
  cursor: pointer;
  transition: background-color 0.5s, border-color 0.5s, color 0.5s,
    background-image 0.5s;
}
.donate-item-category-icon-box:hover {
  background-color: rgb(var(--irrYellow));
}
.donate-item-category-font {
  font-size: var(--subsubtitleText);
  font-weight: 600;
}
.donate-items-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.donate-items-Button-container {
  display: flex;
  justify-content: center;
}
.donate-items-Button-box {
  position: absolute;
  bottom: 74px;
}
.donate-items-scroller-box {
  position: absolute;
  bottom: 32px;
}

.donate-item-category-box-detailed {
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(4, 70px);
}
.donate-item-category-icon-box-detailed {
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  transition: background-color 0.5s, border-color 0.5s, color 0.5s,
    background-image 0.5s;
  cursor: pointer;
}
.donate-item-category-icon-box-detailed:hover {
  background-color: rgb(var(--irrYellow));
  cursor: pointer;
}
.donate-item-category-icon-box-detailed2 {
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  background-color: rgb(var(--irrYellow));
}
.donate-item-category-font {
  font-size: var(--subsubtitleText);
  text-align: center;
  font-weight: 300;
}
.donate-item-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 48px;
  background-color: rgb(var(--irrYellow));
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 4px;
}
.donate-item-finalchoice {
  margin-left: 16px;
  margin-right: 16px;
  height: 26px;
}
.donate-item-finalchoice-font {
  font-size: 14px;
  font-weight: 600;
}
.donate-itemdescription-box {
  display: flex;
  align-items: center;
  grid-template-columns: repeat(2);
}
.submission-box {
  display: flex;
  justify-content: center;
}
.donate-itemdescription-buttons {
  padding: 8px 16px;
  border-radius: 4px;
  background-color: white;
  border: 1px black solid;
  font-size: 16px;
  font-weight: 500;
}
.donate-itemdescription-buttons-active {
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px rgb(var(--irrYellow)) solid;
  font-size: 16px;
  font-weight: 500;
  background-color: rgb(var(--irrYellow));
}
.donate-itemphoto-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: white;
  border: 1px black solid;
}
.donate-itemphoto-buttons:hover {
  cursor: pointer;
  border: 1px rgb(var(--irrYellow)) solid;
  background-color: rgb(var(--irrYellow));
}

.upload-icon {
  height: 20px;
  margin-right: 12px;
}
.uploaded-donate-photos-box {
  grid-template-columns: repeat(2, 70px);
}
.uploaded-image {
  height: 70px;
}
/* =============================== Donate Submission =============================== */
.submission-bottom-body {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.view-application-button {
  padding: 8px 16px;
  background-color: rgb(var(--irrYellow));
}
.view-application-button:hover {
  background-color: gold;
}
.donate-another-box {
  display: flex;
  justify-content: center;
  margin-top: 284px;
}
.application-delete {
  cursor: pointer;
}
.application-delete:hover {
  cursor: pointer;
  text-decoration: underline;
}
/* =============================== Donate Application =============================== */

.donate-application-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.donate-application-card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}
.donate-application-card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.donate-application-card-middle-row {
  display: flex;
  flex-direction: row;
}
.donate-application-status-box {
  display: flex;
  flex-direction: row;
}
.application-image-box {
  width: 48px;
  height: 48px;
}
.application-image-icon {
  border-radius: 4px;
  width: 100%;
}
.application-item-description-box {
  display: flex;
  flex-direction: column;
}
.donate-application-card-bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.application-delete {
  color: #428bc1;
}
.schedule-drop-off {
  padding: 6px 16px;
  border-radius: 4px;
}
.navbar--absolute {
  position: fixed;
  bottom: 0px;
}
/* =============================== Language Selection =============================== */
.language-option-button {
  width: 94px;
  border: 1px solid rgb(var(--black));
  background-color: rgb(var(--white));
}

.language-enter-button {
  width: 94px;
  border: 1px solid rgb(var(--darkGrey));
  background-color: rgb(var(--darkGrey));
  color: rgb(var(--white));
}
.comment-input-box {
  height: 100px;
  border-radius: 4px;
  border: 1px black solid;
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 50px;
}

/* =============================== Login =============================== */
.login-username {
  background-image: url(../assets/email.svg);
  background-position: 14px 16px;
  background-size: 24px;
  background-repeat: no-repeat;
  text-indent: 40px;
}

.login-password {
  background-image: url(../assets/key.svg);
  background-position: 14px 16px;
  background-size: 24px;
  background-repeat: no-repeat;
  text-indent: 40px;
}

.login-button {
  width: 76px;
  border: 1px solid rgb(var(--darkGrey));

  background-color: rgb(var(--darkGrey));
  color: rgb(var(--white));
}

.signup-button {
  width: 91px;
  border: 1px solid rgb(var(--black));

  background-color: rgb(var(--white));
}

/* =============================== Create Account =============================== */
.createAccount-title {
  font-size: var(--titleText);
  font-weight: 700;
}

.createAccount-subtitle {
  font-size: var(--subtitleText);
  font-weight: 300;
}

.createAccount-subsubtitle {
  font-size: var(--subsubtitleText);
  font-weight: 600;
}

.createAccount-option-button {
  width: 200px;
  background-color: rgb(var(--irrYellow));
  border-radius: 4px;
}

.createAccount-label {
  margin: 0 auto;
  width: 100%;
  align-self: flex-start;
  text-align: left;
  font-weight: 600;
}

.input-container {
  position: relative;
  width: 100%;
}

.input-overlay {
  position: absolute;
  top: -8px;
  left: 14px;
  z-index: 1;

  padding: 0 4px;

  font-size: 11px;
  line-height: 16px;
  color: rgb(var(--darkGrey));

  background-color: rgb(var(--white));
}

.createAccount-username {
  background-image: url(../assets/email.svg);
  background-position: 14px 16px;
  background-size: 24px;
  background-repeat: no-repeat;
  text-indent: 40px;
  position: relative;
}

.createAccount-password,
.createAccount-confirmPassword {
  background-image: url(../assets/key.svg);
  background-position: 14px 16px;
  background-size: 24px;
  background-repeat: no-repeat;
  text-indent: 40px;
  position: relative;
}

.createAccount-button {
  margin-top: 104px;
  margin-bottom: 56px;
  padding: 8px 16px;

  background-color: rgb(var(--darkGrey));
  color: rgb(var(--white));
}

.signin-prompt {
  color: rgb(var(--blue));
  font-size: var(--subtitleText);
}

.createAccount-dropdown {
  -webkit-appearance: none;
  appearance: none;

  background-image: linear-gradient(
      45deg,
      transparent 50%,
      rgb(var(--black)) 50%
    ),
    linear-gradient(135deg, rgb(var(--black)) 50%, transparent 50%);
  background-position: calc(100% - 29px) 26px, calc(100% - 24px) 26px;
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
}

.createAccount-dropdown:focus {
  background-image: linear-gradient(
      45deg,
      rgb(var(--black)) 50%,
      transparent 50%
    ),
    linear-gradient(135deg, transparent 50%, rgb(var(--black)) 50%);
  background-position: calc(100% - 24px) 26px, calc(100% - 29px) 26px;
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
  outline: 0;
}

.createAccount-enter-button {
  padding: 8px 16px;

  background-color: rgb(var(--irrYellow));
}
/* =============================== Create Account (navbar) =============================== */
.Navbar-createaccount-center {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c3ecff;
}
.createaccount-header-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}
.createaccount-header-box-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 100%;
  margin-left: 27.33px;
}
.cross-button {
  position: absolute;
  height: 16px;
  right: 16px;
}
/* =============================== Item Request =============================== */
.request-body-container {
  padding: 16px;
}

.request-titleText {
  font-size: var(--titleText);
  font-weight: 700;
  line-height: 24px;
}

.request-subtitleText {
  font-size: var(--subtitleText);
  font-weight: 300;
  line-height: 21px;
}

.request-subsubtitleText {
  font-size: var(--subsubtitleText);
  font-weight: 300;
  line-height: 18px;
}

.request-header {
  width: 100%;
  text-align: left;
}

.request-icon-button {
  width: 100%;
  height: 70px;
  background-color: rgb(var(--white));
  border: 1px solid transparent;
  filter: drop-shadow(0 2px 2px rgba(var(--black) / 0.2));
}

.request-icon-text {
  height: 36px;
  text-align: center;
  font-weight: 300 !important;
}

.request-upload {
  width: 100%;
  height: 56px;
  padding: 16px;
  border: 1px solid rgb(var(--black));
  border-radius: 4px;
  cursor: pointer;
}

.request-button {
  background-color: rgb(var(--darkGrey));
  color: rgb(var(--white));
}

.request-item-card-container {
  width: 100%;
}

.request-item-card-details {
  padding: 8px 16px;
  width: 100%;
  background-color: rgb(var(--irrYellow));
  border-radius: 4px;
}

.request-item-card-edit-button {
  background-color: transparent;
  width: fit-content;
  height: fit-content;
}

.request-item-card-delete {
  color: rgb(var(--blue));
  cursor: pointer;
}

.request-addAnother-button {
  width: 100%;
  padding: 8px;
  border: 1px solid rgb(var(--black));
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(var(--white));
  color: rgb(var(--black));
}

.request-delivery-button {
  padding: 8px 0;
  border: 1px solid rgb(var(--black));
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(var(--white));
  color: rgb(var(--black));
}

.request-delivery-details {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(var(--black) / 0.2);
  position: relative;
}

.request-delivery-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 32px;
  height: 32px;
  color: rgb(var(--blue));
}

.request-applyAgain {
  cursor: pointer;
}

.request-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 5;
}

.request-modal-discard-container {
  background: rgb(var(--white));
  border-radius: 16px;
  padding: 32px;
  width: 328px;
}

.request-modal-overlay button {
  padding: 8px 16px;
}
.request-modal-overlay button:hover {
  background-color: rgb(var(--irrYellow));
  border-color: rgb(var(--irrYellow));
  color: rgb(var(--black));
}

.request-modal-guide-container {
  position: relative;
  background: rgb(var(--white));
  border-radius: 16px;
  padding: 32px;
  width: 328px;
}

.request-modal-close {
  position: absolute;
  top: 24px;
  left: 24px;
  color: rgb(var(--grey2));
  transition: color 0.5s;
  cursor: pointer;
}

.request-modal-close:hover {
  color: rgb(var(--black));
}

/* ============================ Tablet Styles ============================ */
/* @media screen and (min-width: 700px) {
  body {
    background-color: white;
  }
} */
/* ============================ Desktop Styles ============================ */
/* @media screen and (min-width: 1100px) {
  body {
    background-color: white;
  }
} */
