:root {
  --irrYellow: 246, 200, 68;
  --irrBlue: 196, 240, 253;

  --white: 252, 252, 252;
  --black: 38, 38, 38;
  --blue: 66, 139, 193;
  --darkGrey: 109, 109, 109;

  --titleText: 16px;
  --subtitleText: 14px;
  --subsubtitleText: 12px;
}

* {
  box-sizing: border-box;
}

button {
  height: 40px;
}

input {
  background-color: rgb(var(--white));
}

.main-body-container {
  padding: 32px;
}

.language-option-button {
  width: 94px;
  border: 1px solid rgb(var(--black));
  border-radius: 4px;
  background-color: rgb(var(--white));
}

.language-enter-button {
  width: 94px;
  margin-top: 96px;
  border: 1px solid rgb(var(--darkGrey));
  background-color: rgb(var(--darkGrey));
  color: rgb(var(--white));
  border-radius: 4px;
}

.button-active {
  background-color: rgb(var(--irrYellow)) !important;
  border-color: rgb(var(--irrYellow)) !important;
  color: rgb(var(--black)) !important;
}

.login-input {
  width: 100%;
  padding: 16px 14px;
  border: 1px solid rgb(var(--black));
  border-radius: 4px;

  font-size: var(--titleText);
  line-height: 24px;
}

.login-username {
  background-image: url(../assets/email.svg);
  background-position: 16px 20px;
  background-repeat: no-repeat;
  text-indent: 40px;
}

.login-password {
  background-image: url(../assets/key.svg);
  background-position: 16px 20px;
  background-repeat: no-repeat;
  text-indent: 40px;
}

.login-button {
  width: 76px;
  border: 1px solid rgb(var(--darkGrey));
  border-radius: 4px;

  background-color: rgb(var(--darkGrey));
  color: rgb(var(--white));
}

.signup-button {
  width: 91px;
  border: 1px solid rgb(var(--black));
  border-radius: 4px;

  background-color: rgb(var(--white));
}

.createAccount-title {
  font-size: var(--titleText);
}

.createAccount-subtitle {
  font-size: var(--subtitleText);
}

.createAccount-subsubtitle {
  font-size: var(--subsubtitleText);
}

.createAccount-option-button {
  width: 200px;

  background-color: rgb(var(--irrYellow));

  border-radius: 4px;
}

.createAccount-label {
  margin: 0 auto;
  width: 100%;
  align-self: flex-start;
}

.input-container {
  position: relative;
  width: 100%;
}

.input-overlay {
  position: absolute;
  top: -8px;
  left: 14px;
  z-index: 1;

  padding: 0 4px;

  font-size: 11px;
  line-height: 16px;
  color: rgb(var(--darkGrey));

  background-color: rgb(var(--white));
}

.createAccount-input {
  width: 100%;
  padding: 16px 14px;
  border: 1px solid rgb(var(--black));
  border-radius: 4px;

  font-size: var(--titleText);
  line-height: 24px;
}

.createAccount-username {
  background-image: url(../assets/email.svg);
  background-position: 16px 20px;
  background-repeat: no-repeat;
  text-indent: 40px;
  position: relative;
}

.createAccount-password,
.createAccount-confirmPassword {
  background-image: url(../assets/key.svg);
  background-position: 16px 20px;
  background-repeat: no-repeat;
  text-indent: 40px;
  position: relative;
}

.createAccount-button {
  margin-top: 104px;
  margin-bottom: 56px;
  padding: 8px 16px;

  background-color: rgb(var(--darkGrey));
  color: rgb(var(--white));

  border-radius: 4px;
}

.signin-prompt {
  color: rgb(var(--blue));
  font-size: var(--subtitleText);
}

.createAccount-dropdown {
  border: 1px solid rgb(var(--black));
  border-radius: 4px;

  width: 296px;
  padding: 16px;

  -webkit-appearance: none;
}
