@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* ============================== MAIN APP ============================== */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Noto Sans", sans-serif;
}

.main-app-container {
  /* width: 100%; */
  width: 360px;
  height: 100vh;
  margin: auto;
  background-color: rgb(var(--white));
}

/* ====================================================================== */
/* ============================ Phone Styles ============================ */
/* ====================================================================== */
@media screen and (min-width: 300px) {
  body {
    background-color: white;
  }

  /* =============================== Header =============================== */
  .main-header-container {
    height: 64px;
  }

  .Navbar {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c3ecff;
  }
  .nav-middle-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .nav-logo-image {
    height: 70%;
  }
  .nav-user-icon {
    position: absolute;
    top: 30%;
    right: 5%;
    color: black;
    width: 26.67px;
  }

  .navBar--links {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    margin: 15px;
    position: relative;
    opacity: 0.9;
  }

  .navBar--links::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: all 0.5s;
  }

  .navBar--links:hover::before {
    width: 100%;
  }

  /* =============================== Home =============================== */
  .home-h1-22 {
    color: black;
    font-size: 22px;
    font-weight: 700;
    margin-top: 6%;
  }
  .home-h2-14 {
    font-size: 14px;
    font-weight: 600;
    margin-top: 5%;
  }
  .home-container {
    padding: 5%;
  }
  .item-application-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
  }
  .item-application-box {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(255, 215, 0);
    border-radius: 5px;
    padding-bottom: 8%;
    padding-top: 8%;
    margin-bottom: 3%;
  }
  .item-application-box:hover {
    background-color: rgb(255, 230, 88);
  }
  .donate-application-icon {
    transform: scale(1.2);
  }
  .item-application-icon {
    transform: scale(1);
  }
  .home-bottom-section {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .activity-individual-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3%;
    width: 30%;
    text-align: center;
  }
  .activity-icon-box {
    border: rgb(104, 104, 104) 0.5px solid;
    box-shadow: 0px 2px 2px rgba(104, 104, 104, 0.5);
    border-radius: 5px;
    padding: 30% 40%;
    display: flex;
    justify-content: center;
    margin-bottom: 8%;
    height: 22%;
    width: 28%;
  }
  .activity-icon {
    transform: scale(1.8);
  }
}
.noto-12 {
  font-size: 12px;
}
/* =============================== Navbar =============================== */
.navbar-container {
  display: flex;
  position: absolute;
  bottom: 2%;
  width: 360px;
  justify-content: center;
  align-items: center;
}
.navbar-individual-boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 20%;
}
.navbar-icon-box {
  padding: 10% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-icon {
  height: 20px;
  margin-bottom: 20%;
}
.navbar-fonts {
  font-size: 0.8rem;
}

/* ========================= Modal (Instructions) ========================= */
.overlay {
  position: fixed;
  top: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.donate-instructions-container {
  border-radius: 20px;
  height: 544px;
  width: 328px;
  background-color: #e2f5fe;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.instructions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.instructions-top-section {
  margin-top: 5%;
  margin-bottom: 15%;
  padding-left: 5%;
  padding-right: 5%;
}
.instructions-h1-16 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5%;
}
.instructionsImage1-container {
  margin-bottom: 15%;
}
.instructions-button-next {
  width: 70px;
  margin-bottom: 20%;
}
.instructions-scroller {
  width: 11%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.scroller-circles {
  width: 10px;
}

/* ========================= Modal (Apply items) ========================= */

.main-modal-applyforitems-container {
  height: 100%;
}

.modal-howtoapplyforitems-container {
  height: 100%;
}

.close-modal-header {
  height: 8%;
  display: flex;
  align-items: center;
}
.close-button {
  margin-left: 5%;
}
.modal-howtoapplyforitems-body-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.howtodonate-h1-16 {
  font-size: 16px;
  margin-top: 3%;
}
.steps-font {
  font-size: 14px;
  font-weight: 600;
}
.howtodonate-p1-14 {
  font-size: 14px;
  font-weight: 200;
}

.steps-boxes {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
}
.steps-individual-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 100%;
}
.steps-icon {
  color: black;
  margin-right: 9.83px;
  height: 18.33px;
}

/* ============================ Tablet Styles ============================ */
/* @media screen and (min-width: 700px) {
  body {
    background-color: white;
  }
} */
/* ============================ Desktop Styles ============================ */
/* @media screen and (min-width: 1100px) {
  body {
    background-color: white;
  }
} */
